<div class="col-start-4 col-end-13 p-2 rounded-lg fade-in">
  <div class="flex items-center justify-start flex-row-reverse group">
    <div class="flex items-center justify-center h-9 w-9 rounded-xl bg-zinc-800/80 border border-white/10 text-white flex-shrink-0 shadow-lg transition-transform duration-300 group-hover:scale-110">
      <i class="fa-solid fa-user text-xs"></i>
    </div>

    <div class="relative mr-4 text-sm bg-violet-600/10 border border-violet-500/20 backdrop-blur-sm pt-3.5 pb-2.5 px-5 shadow-2xl rounded-2xl rounded-tr-none text-zinc-100">
      {{ text }}
    </div>
  </div>
</div>
